body{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.boton{
    font-size: 3em;
    background: rgba(0,0,0, .3);
    outline: none;
    border: none;
    padding: 1em;
    border-radius: 30px;
}

.codigo{
    font-size: 3em;
    
    outline: none;
    
    
    border-radius: 30px;
}